<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaTAR iOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5FF4C5E02C624C29B04F7C17090E7A890BBAD7CB</string>
				<key>dateExpires</key>
				<string>11/7/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5MTXY923X9.com.healthyMedium.LaTAR-iOS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5MTXY923X9</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5MTXY923X9.com.healthyMedium.LaTAR-iOS</string>
				</array>
			</dict>
			<key>name</key>
			<string>LaTAR iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>61f9de69-6009-497a-8c9f-5876e5ff9f0c</string>
				<key>dateExpires</key>
				<string>4/1/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5MTXY923X9</string>
				<key>name</key>
				<string>Benjamin Wang</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.3</string>
		</dict>
	</array>
</dict>
</plist>
